{% extends "base.html" %}

{% block content %}
  <h3>Welcome {{ request.user.username }}. (Account number: 05274{{ request.user.pk}})
  <h1>Your current balance is: ${{ balance }} </h1>
  <h3>These are your transactions from the past 30 days. Click on each for more info.</h3>
  <table class='table table-hover' id='public'>
    <th>Amount</th>
    <th>Debit/Credit</th>
    <tbody>
      {% for trans in object_list %}
      <tr>
        <td><a href="{% url 'detail_view' %}">${{ trans.trans_amount }}</td>
        <td>{{ trans.trans_type }}</td>
      </tr>
      {% endfor %}
    </tbody>


  </table>



{% endblock %}


<!-- needs to include:
 current balance.
 list of debits and credits from past 30 days

click on any transaction to see details -->
