{% extends "base.html" %}

{% block content %}
<h3>Transaction detail</h3>
<table class='table table-hover' id='public'>
  <th>Amount</th>
  <th>Transaction ID</th>
  <th>Debit/Credit</th>
  <th>Note</th>
  <th>Time</th>
  <tbody>
    {% for trans in object_list %}
    <tr>
      <td>${{ trans.trans_amount }}</td>
      {# <td><a href="{% url 'detail_view' %}">${{ trans.trans_amount }}</a></td>#}
      <td>{{ trans.pk }}</td>
      <td>{{ trans.trans_type }}</td>
      <td>{{ trans.trans_note }}</td>
      <td>{{ trans.trans_time }}</td>

    </tr>
    {% endfor %}
  </tbody>


</table>
{% endblock %}
