{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the humblest and most secure bank in town</h1>
    <h4>Make no mistake: We want your money, because then we can make a lot of money from the interest off it.</h4>
    <h4>But while your money is with us, we will protect it from thieves and give you a little bit of the money we earn from it.</h4>
    <h4>
      <a href="{% url 'user_create_view' %}">Create an account </a>or <a href="{% url 'login' %}">log in</a>, and then PUT SOME MONEY in our bank!
    </h4>

{% endblock %}
