{% extends "base.html" %}

{% block content %}
  <h1>Welcome to the humblest and most secure bank in town</h1>
    <p>Make no mistake: We want your money, because then we can make a lot of money from the interest off it.</p>
    <p>But while your money is with us, we will protect it from thieves and give you a little bit of the money we earn from it.</p>
    <p>
      <a href="{% url 'create_user_view' %}">Create an account </a>or <a href="{% url 'login' %}">log in</a>, and then PUT SOME MONEY in our bank!
    </p>

{% endblock %}
